{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Lü Peng -{% block subtitle %} Curator, Art historian{% endblock %}{% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <style>

    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
    -->
  </head>

  <body>

    <div id='wrapper'>

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-inner">
            <div class="container">
              
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
              <a class="brand" href="/">
                <h2 class="pull-left">吕澎</h2>
                <div id="english_title" class="pull-left">
                    <h2>Lü Peng</h2>
                    <h4>Art Historian</h4>
                </div>
              </a>
              
              <div class="nav-collapse collapse">

                <div class="nav pull-right" id="languages_wrapper">

                    {% block languages %}
                   
                        {% get_language_info_list for LANGUAGES as languages %}

                        <div id="languages" class="" style="margin: 10% 0 0 0">
                           {% for lang in languages %}
                                <form action="/i18n/setlang/" method="post" style="margin:0; display:inline;">{% csrf_token %}
                                    <input type="hidden" name="language" value="{{ lang.code }}"/>
                                    <input id="lang_{{lang.code}}" class="lang_button" type="submit" {% comment %}src="/media/http_frontend/img/{{ lang.0 }}.gif" alt="{{ lang.1 }}" {% endcomment %} value="{{ lang.name_local }}"/>
                                </form>
                           {% endfor %}
                        </div>

                    {% endblock %}

                </div>

                <ul class="nav" style="padding: 5.3% 0 0 0;">

                    {% for menu in menu_items %}

                        <li><a class="menu" href="/{{ menu.slug }}/"> {{ menu.title }}</a></li>

                    {% endfor %}

                        <li>
                            <a style="float:left;">
                                <span id="search_label"> 搜索 Search </span>
                            </a>
                            <input type="search" id="search_input" style="display:none;"/>
                        </li>

                </ul>

                <div id="search_form">
                     
                </div>

              </div>

            </div>
          </div>
        </div>

        <div id="content" class="row">
            <div class="container">
                {% block content %}

                    {% block content_left %}{% endblock %}

                    {% block content_right %}{% endblock %}

                {% endblock %}
            </div>
        </div>

        <div class="push"></div>

    </div>

    <div class="footer navbar-static-top">
        
        <div id="logos_wrapper" >

            <div id="logos" class="" style="text-align:right; margin: 0 0 10px 0">
                {% for l in footer_logos %}
                    <img class="logos" src="{{ MEDIA_URL }}{{ l.logo}}" />
                {% endfor %}
            </div>

        </div>

        <footer id="footer">

            <div id="footer_wrapper">

            {% block footer %}
                <div class="" style="text-align:center;">
                    <span id="footer_text">{% for t in footer_text %} {{ t.text }} {% endfor %}</span>
                </div>
            {% endblock %}

            </div>

        </footer>

    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function($){
        var path = window.location.href; // Just grabbing a handy reference to it
        $('.menu').each(function() {
            if (this.href === path) {
                $(this).addClass('active');
            }
        });

        $('#search_label').live('click', function(){
            $('#search_input').toggle();
        });
    });
    </script>

  </body>
</html>
