{% load i18n %}

<html>
    <head>
    </head>
    <body>

        {% block languages %}
            {% get_language_info_list for LANGUAGES as languages %}
            <div id="languages" style="float:right">
               <table >
                 <tr>
                   {% for lang in languages %}
                   <td>
                        <form action="/i18n/setlang/" method="post">{% csrf_token %}
                            <input type="hidden" name="language" value="{{lang.code}}"/>
                            <input id="lang_{{lang.code}}" type="submit" {% comment %}src="/media/http_frontend/img/{{ lang.0 }}.gif" alt="{{ lang.1 }}" {% endcomment %} value="{{ lang.name_local }}"/>
                        </form>
                   </td>
                   {% endfor %}
                 </tr>
               </table>
            </div>

            {% comment %}
            <div >
                <form action="/i18n/setlang/" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language">
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
                {% endfor %}
                </select>
                <input type="submit" value="Go" />
                </form>

            </div>
            {% endcomment %}
        {% endblock %}

        {% block menus %}

        {% include 'menus.inc.html' %}

        {% endblock %}

        {% block content %}{% endblock %}

    </body>
</html>
